[submodule "code/laser/lib/MqttBase"]
	path = code/laser/lib/MqttBase
	url = https://github.com/JayWiz/MqttBase.git



[submodule "code/push_button/lib/MqttBase"]
	path = code/push_button/lib/MqttBase
	url = https://github.com/JayWiz/MqttBase.git
