[submodule "code/laser/lib/MqttBase"]
	path = code/laser/lib/MqttBase
	url = https://github.com/JayWiz/MqttBase.git
[submodule "code/robot/robotESP/lib/MqttBase"]
	path = code/robot/robotESP/lib/MqttBase
	url = https://github.com/JayWiz/MqttBase.git
[submodule "code/fusebox/design_software/lib/MqttBase"]
	path = code/fusebox/design_software/lib/MqttBase
	url = git@github.com:JayWiz/MqttBase.git
